.addNewTodo {
	--color: #808080;

	position: relative;

	min-width: var(--todo-width);
	min-height: 100%;
	height: var(--todo-height);

	border: dashed 2px;
	border-radius: 15px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px 30px;

	font-size: 1.5rem;
	text-align: center;

	color: var(--color);
	border-color: var(--color);
	transition: all 0.1s ease-in-out;
}

.plus {
	font-size: 4rem;
}

.addNewTodo:hover {
	--color: lightgreen;

	cursor: pointer;
}

.form {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
	gap: 25px;
}
