/* Todo */

.todo {
	position: relative;

	text-align: center;
	hyphens: auto;

	background-color: yellowgreen;
	color: black;

	transition: all .2s;

	border-radius: 15px;
}

.todoComplete {
	background-color: tomato;

	& .label {
		text-decoration: line-through;
	}
}

.todoEditMode {
	animation: animationEditMode infinite 0.3s linear;
}

@keyframes animationEditMode {
	0% {
		rotate: 0.5deg;
	}

	50% {
		rotate: -0.5deg;
	}

	100% {
		rotate: 0.5deg;
	}
}

/* Id */

.id {
	position: absolute;
	top: 10px;
	left: 10px;
}

/* Label */

.label {
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	width: 100%;
	min-height: var(--todo-height);
	padding: 40px 15px 15px;
}

/* Button */

.buttonBlock {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	gap: 10px;
}

/* Text area */

.textArea::selection {
	background-color: #fff;
	color: #000;
}

.textArea {
	padding: 2px;
	border: none;
	font-size: 1rem;
	background-color: transparent;
	color: inherit;
	resize: none;
	min-width: 100%;
	outline: 1px solid black;
}

.textArea:disabled {
	outline: none;
	font-family: inherit;
	min-height: 100%;
	pointer-events: none;
}
